mixin field(fieldName, fieldValue, labelText, placeHolder="", fieldType="text")
    div(class="formField")
      label(for=fieldName)= labelText
      input(type=fieldType, name=fieldName, id=fieldName, value=fieldValue, placeHolder=placeHolder, class="formField_#{fieldName}")

mixin projectTile(projectName, projectProgress, projectId)
  div(class="projectField")
    div(class="projectHolder")
    a(href=`/projects/${projectId}` name=`${projectName}` class="project-a__tag") #{projectName}
    input(type="checkbox" class="unchecked projectCheckBox")
    div(class="progressDelete")
      div(class="progressBorder" name=`${projectProgress}`)
        div(class="progressFiller" style=`width: ${25}%`) #{projectProgress}%

      form(id=`${projectId}`)
        button(class="delete__button" type="submit") Delete

mixin noteTile(content, note, taskId, editId, noteContent)
  div(class="noteField")
    if(note == editId)
      form(id=`${taskId}:${editId}` class="noteList__edit")
        textarea(name="content" class="note-content")=noteContent
        button(type="submit" class="note-edit-button") Submit Changes
      a(href=`/tasks/${taskId}`): button(class="note-edit-button") Cancel
    else
      div(class="noteHolder")
        p #{content}
        div
          form(id=`${note}`)
            button(class="delete__button" type="submit") Delete
          form(action=`/tasks/${taskId}` method='post')
            button(type='submit' name='noteId' value=`${note}`) Edit

mixin errorsDiv(errors)
  div(class="errors-div")
    ul(class="errors-div__list")
      each error in errors
        li #{error}

mixin taskTile(taskName, taskInProgress, taskCompleted, taskPriority, taskId)
  div(class="taskField")
    div(class="taskHolder")
      input(type="checkbox" class="unchecked")
      a(href=`/tasks/${taskId}`) #{taskName}
      div(class="taskHolder__inProgress") #{taskInProgress}
      div(class="taskHolder__completed") #{taskCompleted}
      div(class="taskHolder__priority") #{taskPriority}
      div
        form(id=`${taskId}`)
         button(class="delete__button" type='submit') Delete
