mixin field(fieldName, fieldValue, labelText, placeHolder="", fieldType="text")
    div(class="formField")
      label(for=fieldName)= labelText
      input(type=fieldType, name=fieldName, id=fieldName, value=fieldValue, placeHolder=placeHolder, class="formField_#{fieldName}")

mixin projectTile(projectName, projectProgress, projectId)
  div(class="projectField")
    input(type="checkbox" class="unchecked")
    div(class="projectHolder")
      p #{projectName}
      div(class="progressBorder")
        div(class="progressFiller") #{projectProgress}%
      div
        form(id=`${projectId}`)
          button(class="delete__button" type="submit") Delete

mixin errorsDiv(errors)
  div(class="errors-div")
    ul(class="errors-div__list")
      each error in errors
        li #{error}

mixin taskTile(taskName, taskInProgress, taskCompleted, taskPriority, taskId)
  div(class="taskField")
    input(type="checkbox" class="unchecked")
    div(class="taskHolder")
      p #{taskName}
      div(class="taskHolder__inProgress") #{taskInProgress}
      div(class="taskHolder__completed") #{taskCompleted}
      div(class="taskHolder__priority") #{taskPriority}
      //- possible add in the tags as blocks here, a div per tag
      div
        button(class="delete__button") Delete
