mixin field(fieldName, fieldValue, labelText, placeHolder="", fieldType="text")
    div(class="formField")
      label(for=fieldName)= labelText
      input(type=fieldType, name=fieldName, id=fieldName, value=fieldValue, placeHolder=placeHolder, class="formField_#{fieldName}")

mixin projectTile(projectName, projectProgress, projectId)
  div(class="projectField")
    input(type="checkbox" class="unchecked")
    div(class="projectHolder")
      div
        label(for=`${projectName}`) Project Name:
        a(href=`/projects/${projectId}` name=`${projectName}`) #{projectName}
      div
        label(for=`${projectProgress}`) Current Progress:
        div(class="progressBorder" name=`${projectProgress}`)
          div(class="progressFiller") #{projectProgress}%
      div
        form(id=`${projectId}`)
          button(class="delete__button" type="submit") Delete

mixin noteTile(content, note, taskId)
  div(class="noteField")
    div(class="noteHolder")
      p #{content}
      div
        form(id=`${note}`)
          button(class="delete__button" type="submit") Delete
          button(class="edit_button" type="submit") Edit

mixin errorsDiv(errors)
  div(class="errors-div")
    ul(class="errors-div__list")
      each error in errors
        li #{error}

mixin taskTile(taskName, taskInProgress, taskCompleted, taskPriority, taskId)
  div(class="taskField")
    div(class="taskHolder")
      input(type="checkbox" class="unchecked")
      a(href=`/tasks/${taskId}`) #{taskName}
      div(class="taskHolder__inProgress") #{taskInProgress}
      div(class="taskHolder__completed") #{taskCompleted}
      div(class="taskHolder__priority") #{taskPriority}
      div
        form(id=`${taskId}`)
         button(class="delete__button" type='submit') Delete


