mixin field(fieldName, fieldValue, labelText, placeHolder="", fieldType="text")
    div(class="formField")
      label(for=fieldName)= labelText
      input(type=fieldType, name=fieldName, id=fieldName, value=fieldValue, placeHolder=placeHolder, class="formField_#{fieldName}")

mixin projectTile(projectName, projectProgress, projectId)
  div(class="projectField")
    input(type="checkbox" class="uncheckedProjects")
    div(class="projectHolder")
      p #{projectName}
      div(class="progressBorder")
        div(class="progressFiller") #{projectProgress}%
      div
        form(action=`/projects/delete/${projectId}`, method="post")
          input(type="hidden", name="_csrf", value=csrfToken)
          button(class="delete__button" type="submit") Delete

mixin errorsDiv(errors)
  div(class="errors-div")
    ul(class="errors-div__list")
      each error in errors
        li #{error}

